In [3]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

a = [4,8,15,16,23,42]
Numbers = pd.Series(a)
print(Numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

import pandas as pd
Numbers = list(range(0,11))
Var = pd.Series(Numbers)
print(Var, type(Var))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64 <class 'pandas.core.series.Series'>

In [45]:
#Q3. Create a Pandas DataFrame that contains the following data:

Data ={
   "Name": ["Alice","Bob","Claire"],
    "Age" : [25,30,27],
    "Gender" : ["Female","Male","Female"]
    }
    
df = pd.DataFrame(Data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [46]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

"""
The primary difference between a DataFrame and a Series is that a Series represents a single column of data,
whereas a DataFrame can have multiple columns. Therefore, you can think of a DataFrame as a collection of Series objects. 
A DataFrame can be seen as a table or a spreadsheet, while a Series can be seen as a single column or row in that table.

"""

'\nThe primary difference between a DataFrame and a Series is that a Series represents a single column of data,\nwhereas a DataFrame can have multiple columns. Therefore, you can think of a DataFrame as a collection of Series objects. \nA DataFrame can be seen as a table or a spreadsheet, while a Series can be seen as a single column or row in that table.\n\n'

In [47]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions

"""
pd.DataFrame
pd.Grouper
pd.offsets
pd.merge 

"""

#Code for example

Data ={
   "Name": ["Alice","Bob","Claire"],
    "Age" : [25,30,27],
    "Gender" : ["Female","Male","Female"]
    }
    
df = pd.DataFrame(Data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female